.done_recipes_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.btn_filter_area {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 290px;
  width: 360px;
}

.recipes_cards_caontainer {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.recipes_card {
  align-items: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 360px;
}

.inf_card {
  display: flex;
  flex-direction: row;
}

.inf_card img {
  width: 30px;
}
