.category_area {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  top: 120px;
  width: 360px;
  z-index: 2;
}


.category_area button {
  border: none;
  font-size: 14px;
  margin: 2px;
  padding: 1px;
}
