.startRecipeBtn {
  bottom: 0;
  position: fixed;
}

.details_content {
  z-index: 3;
}

.shareBtn .favoriteBtn {
  position: fixed;
  top: 100;
  z-index: 90;
}

/* .containerFoods .containerDrinks {
  display: flex;
  height: 200px;
  width: 120px;
}

.imgFood .imgDrink {
  height: 100px;
  width: 60px;
} */
