.searchbar_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar_container .radio_area {
  display: flex;
}

.searchbar_container label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.category_area {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  width: 360px;
}

.category_area button {
  border: none;
  font-size: 14px;
  margin: 2px;
  padding: 1px;
}
