.header_content {
  align-items: center;
  background-color: rgb(14, 163, 107);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
}

.header_content h2 {
  font-size: 1.5rem;
}
